# Capstone Project - Data Scientist Salaries: Data Wrangling

## Introduction

### The "Latest Data Science Salaries" Dataset

The "Latest Data Science Salaries" dataset https://www.kaggle.com/datasets/iamsouravbanerjee/data-science-salaries-2023 provides valuable insights into the compensation trends and variations in the field of data science from 2020 to 2024.

The dataset includes information about Job Title, Employment Type, Experience Level, Expertise Level, Salary, Salary Currency, Company Location, Salary in USD, Employee Residence, Company Size, and Year. This information provides a comprehensive view of job-related details, compensation levels, company characteristics, and temporal aspects, offering valuable insights for analyzing and understanding the dataset.

### Global Country Information Dataset 2023

Global Country Information Dataset 2023 https://www.kaggle.com/datasets/nelgiriyewithana/countries-of-the-world-2023  provides a wealth of information about all countries worldwide, covering a wide range of indicators and attributes. It encompasses demographic statistics, economic indicators, environmental factors, healthcare metrics, education statistics, and much more. With every country represented, this dataset offers a complete global perspective on various aspects of nations, enabling in-depth analyses and cross-country comparisons.
 The dataset is divided into 7 parts, which I will later combine into one

Country: Name of the country.

Density (P/Km2): Population density measured in persons per square kilometer.

Abbreviation: Abbreviation or code representing the country.

Agricultural Land (%): Percentage of land area used for agricultural purposes.

Land Area (Km2): Total land area of the country in square kilometers.

Armed Forces Size: Size of the armed forces in the country.

Birth Rate: Number of births per 1,000 population per year.

Calling Code: International calling code for the country.

Capital/Major City: Name of the capital or major city.

CO2 Emissions: Carbon dioxide emissions in tons.

CPI: Consumer Price Index, a measure of inflation and purchasing power.

CPI Change (%): Percentage change in the Consumer Price Index compared to the previous year.

Currency_Code: Currency code used in the country.

Fertility Rate: Average number of children born to a woman during her lifetime.

Forested Area (%): Percentage of land area covered by forests.

Gasoline_Price: Price of gasoline per liter in local currency.

GDP: Gross Domestic Product, the total value of goods and services produced in the country.

Gross Primary Education Enrollment (%): Gross enrollment ratio for primary education.

Gross Tertiary Education Enrollment (%): Gross enrollment ratio for tertiary education.

Infant Mortality: Number of deaths per 1,000 live births before reaching one year of age.

Largest City: Name of the country's largest city.

Life Expectancy: Average number of years a newborn is expected to live.

Maternal Mortality Ratio: Number of maternal deaths per 100,000 live births.

Minimum Wage: Minimum wage level in local currency.

Official Language: Official language(s) spoken in the country.

Out of Pocket Health Expenditure (%): Percentage of total health expenditure paid out-of-pocket by individuals.

Physicians per Thousand: Number of physicians per thousand people.

Population: Total population of the country.

Population: Labor Force Participation (%): Percentage of the population that is part of the labor force.

Tax Revenue (%): Tax revenue as a percentage of GDP.

Total Tax Rate: Overall tax burden as a percentage of commercial profits.

Unemployment Rate: Percentage of the labor force that is unemployed.

Urban Population: Percentage of the population living in urban areas.

Latitude: Latitude coordinate of the country's location.

Longitude: Longitude coordinate of the country's location.

## Import Libraries

In [2166]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Data loading

### Load The "Latest Data Science Salaries" Data

In [2169]:
salaries_Part1 = pd.read_csv('/Users/juliabolgova/Documents/GitHub/f/Capstone_IuliiaBolgova/CapstoneProject/data/external/Latest_Data_Science_Salaries.csv')

In [2170]:
salaries_Part2 = pd.read_csv('/Users/juliabolgova/Documents/GitHub/f/Capstone_IuliiaBolgova/CapstoneProject/data/external/v2_Latest_Data_Science_Salaries.csv')

In [2171]:
salaries_Part3 = pd.read_csv('/Users/juliabolgova/Documents/GitHub/f/Capstone_IuliiaBolgova/CapstoneProject/data/external/v3_Latest_Data_Science_Salaries.csv')

In [2172]:
salaries_Part4 = pd.read_csv('/Users/juliabolgova/Documents/GitHub/f/Capstone_IuliiaBolgova/CapstoneProject/data/external/v4_Latest_Data_Science_Salaries.csv')

In [2173]:
salaries_Part5 = pd.read_csv('/Users/juliabolgova/Documents/GitHub/f/Capstone_IuliiaBolgova/CapstoneProject/data/external/v5_Latest_Data_Science_Salaries.csv')

In [2174]:
salaries_Part6 = pd.read_csv('/Users/juliabolgova/Documents/GitHub/f/Capstone_IuliiaBolgova/CapstoneProject/data/external/v6_Latest_Data_Science_Salaries.csv')

In [2175]:
salaries_Part7 = pd.read_csv('/Users/juliabolgova/Documents/GitHub/f/Capstone_IuliiaBolgova/CapstoneProject/data/external/v7_Latest_Data_Science_Salaries.csv')

### Load Global Country Information Dataset 2023

In [2177]:
world_info = pd.read_csv('/Users/juliabolgova/Documents/GitHub/f/Capstone_IuliiaBolgova/CapstoneProject/data/external/world-data-2023.csv')

## Data joining

### Look at The "Latest Data Science Salaries" Data Structure and combine datasets into one

In [2180]:
salaries_Part1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           3300 non-null   object
 1   Employment Type     3300 non-null   object
 2   Experience Level    3300 non-null   object
 3   Expertise Level     3300 non-null   object
 4   Salary              3300 non-null   int64
 5   Salary Currency     3300 non-null   object
 6   Company Location    3300 non-null   object
 7   Salary in USD       3300 non-null   int64
 8   Employee Residence  3300 non-null   object
 9   Company Size        3300 non-null   object
 10  Year                3300 non-null   int64
dtypes: int64(3), object(8)
memory usage: 283.7+ KB

In [2181]:
salaries_Part2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3470 entries, 0 to 3469
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           3470 non-null   object
 1   Employment Type     3470 non-null   object
 2   Experience Level    3470 non-null   object
 3   Expertise Level     3470 non-null   object
 4   Salary              3470 non-null   int64
 5   Salary Currency     3470 non-null   object
 6   Company Location    3470 non-null   object
 7   Salary in USD       3470 non-null   int64
 8   Employee Residence  3470 non-null   object
 9   Company Size        3470 non-null   object
 10  Year                3470 non-null   int64
dtypes: int64(3), object(8)
memory usage: 298.3+ KB

The tables have the same structure

### Combine all CSV files using concat()

In [2184]:
salaries = pd.concat([salaries_Part1, salaries_Part2, salaries_Part3, salaries_Part4, salaries_Part5, salaries_Part6, salaries_Part7], axis=0)

In [2185]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28668 entries, 0 to 5735
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           28668 non-null  object
 1   Employment Type     28668 non-null  object
 2   Experience Level    28668 non-null  object
 3   Expertise Level     28668 non-null  object
 4   Salary              28668 non-null  int64
 5   Salary Currency     28668 non-null  object
 6   Company Location    28668 non-null  object
 7   Salary in USD       28668 non-null  int64
 8   Employee Residence  28668 non-null  object
 9   Company Size        28668 non-null  object
 10  Year                28668 non-null  int64
dtypes: int64(3), object(8)
memory usage: 2.6+ MB

In [2186]:
salaries.head()

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023

## Data Definition

### Look at The Global Country Information Dataset 2023

In [2189]:
pd.set_option('display.max_columns', None)

In [2190]:
world_info.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [2191]:
columns_to_clean = {
    'Urban_population': ',',
    'Population': ',',
    'Density\n(P/Km2)': ',',
    'Agricultural Land( %)': '%',
    'Land Area(Km2)': ',',
    'Armed Forces size': ',',
    'Co2-Emissions': ',',
    'Out of pocket health expenditure': '%',
    'Population: Labor force participation (%)': '%',
    'Tax revenue (%)': '%',
    'Total tax rate': '%',
    'Unemployment rate': '%',
    'CPI Change (%)': '%',
    'Gasoline Price': '$',
    'Forested Area (%)': '%',
    'GDP': [',', '$'],  # 2 symbols
    'Gross primary education enrollment (%)': '%',
    'Gross tertiary education enrollment (%)': '%',
    'Minimum wage': '$'
}

In [2192]:
for column, chars in columns_to_clean.items():
    if isinstance(chars, list):  
        for char in chars:
            world_info[column] = world_info[column].str.replace(char, '')
    else:
        world_info[column] = world_info[column].str.replace(chars, '')

In [2193]:
world_info.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10,652230,323000,32.49,93.0,Kabul,8672,149.9,2.30,AFN,4.47,2.10,0.70,19101353833,104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,38041754,48.90,9.30,71.40,11.12,9797273,33.939110,67.709953
1,Albania,105,AL,43.10,28748,9000,11.78,355.0,Tirana,4536,119.05,1.40,ALL,1.62,28.10,1.36,15278077447,107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,2854191,55.70,18.60,36.60,12.33,1747593,41.153332,20.168331
2,Algeria,18,DZ,17.40,2381741,317000,24.28,213.0,Algiers,150006,151.36,2.00,DZD,3.02,0.80,0.28,169988236398,109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,43053054,41.20,37.20,66.10,11.70,31510100,28.033886,1.659626
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,3154057987,106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,77142,NaN,NaN,NaN,NaN,67873,42.506285,1.521801
4,Angola,26,AO,47.50,1246700,117000,40.73,244.0,Luanda,34693,261.73,17.10,AOA,5.52,46.30,0.97,94635415870,113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,31825295,77.50,9.20,49.10,6.89,21061025,-11.202692,17.873887

In [2194]:
pd.reset_option('display.max_columns')

In [2195]:
world_info['Country'].value_counts().sum()

195

### Data Cleaning in The Global Country Information Dataset 2023

In [2197]:
duplicates = world_info.duplicated()

In [2198]:
num_duplicates = duplicates.sum()
print("Number of duplicates in DataFrame:", num_duplicates)

Number of duplicates in DataFrame: 0

In [2199]:
world_info.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude',
       'Longitude'],
      dtype='object')

In [2200]:
unique_countries = world_info['Country'].unique()

# Convert an array of unique values to a list
countries_list = unique_countries.tolist()

print(countries_list)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cape Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian National Authority', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'S', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

Delete rows where Country == 'S'

In [2202]:
world_info = world_info.loc[world_info['Country'] != 'S']

In [2203]:
# Check using assert that the DataFrame no longer contains a row with the country "S"
assert not world_info['Country'].isin(['S']).any(), "DataFrame still has country 'S'"

# If the assertion passes, print a confirmation message
print("Check passed: there is no country 'S' in the DataFrame.")

Check passed: there is no country 'S' in the DataFrame.

In [2204]:
unique_countries = world_info['Country'].unique()

# Convert an array of unique values to a list
countries_list = unique_countries.tolist()

print(countries_list)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cape Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian National Authority', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [2205]:
world_info['Country'].value_counts()

Country
Afghanistan              1
Saint Kitts and Nevis    1
New Zealand              1
Nicaragua                1
Niger                    1
                        ..
Grenada                  1
Guatemala                1
Guinea                   1
Guinea-Bissau            1
Zimbabwe                 1
Name: count, Length: 194, dtype: int64

#### Finding Missing Values

In [2207]:
# Check if there are missing values anywhere in the DataFrame
missing_values = world_info.isnull().any().any()
print("there are missing values in the DataFrame:", missing_values)

there are missing values in the DataFrame: True

In [2208]:
missing_world = pd.concat([world_info.isnull().sum(), 100 * world_info.isnull().mean()], axis=1)
missing_world.columns=['count', '%']
missing_world = missing_world.sort_values(by='count', ascending=False)

In [2209]:
missing_world

                                           count          %
Minimum wage                                  44  22.680412
Tax revenue (%)                               26  13.402062
Armed Forces size                             24  12.371134
Unemployment rate                             19   9.793814
Gasoline Price                                19   9.793814
Population: Labor force participation (%)     19   9.793814
CPI                                           17   8.762887
CPI Change (%)                                16   8.247423
Currency-Code                                 15   7.731959
Maternal mortality ratio                      14   7.216495
Total tax rate                                12   6.185567
Gross tertiary education enrollment (%)       12   6.185567
Life expectancy                                8   4.123711
Physicians per thousand                        7   3.608247
Out of pocket health expenditure               7   3.608247
Gross primary education enrollment (%)         7   3.608247
Forested Area (%)                              7   3.608247
Fertility Rate                                 7   3.608247
Co2-Emissions                                  7   3.608247
Agricultural Land( %)                          7   3.608247
Abbreviation                                   7   3.608247
Infant mortality                               6   3.092784
Largest city                                   6   3.092784
Birth Rate                                     6   3.092784
Urban_population                               5   2.577320
Official language                              4   2.061856
Capital/Major City                             3   1.546392
GDP                                            2   1.030928
Calling Code                                   1   0.515464
Population                                     1   0.515464
Land Area(Km2)                                 1   0.515464
Latitude                                       0   0.000000
Country                                        0   0.000000
Density\n(P/Km2)                               0   0.000000
Longitude                                      0   0.000000

In [2210]:
# Find rows where the value in the 'Minimum wage' column is NaN
nan_wage_countries = world_info[world_info['Largest city'].isna()]

# Print countries where 'Minimum wage' is NaN
print("  NaN   'Minimum wage':")
print(nan_wage_countries['Country'])

  NaN   'Minimum wage':
24                             Brunei
73                       Vatican City
97                              Libya
120                             Nauru
133    Palestinian National Authority
156                         Singapore
Name: Country, dtype: object

In [2211]:
# Getting a list of unique countries from salaries
countries_in_salaries = salaries['Company Location'].unique()
print(countries_in_salaries)

['United States' 'United Kingdom' 'Germany' 'Sweden' 'India'
 'Korea, Republic of' 'Spain' 'Estonia' 'France' 'Philippines' 'Canada'
 'Australia' 'Turkey' 'Portugal' 'Brazil' 'Switzerland' 'Andorra'
 'Netherlands' 'Ecuador' 'Mexico' 'Israel' 'Nigeria' 'Saudi Arabia'
 'Colombia' 'Poland' 'Norway' 'Ghana' 'Argentina' 'Japan'
 'Russian Federation' 'South Africa' 'Italy' 'Hong Kong'
 'Central African Republic' 'Finland' 'Ukraine' 'Ireland' 'Singapore'
 'Slovenia' 'Thailand' 'Croatia' 'Armenia' 'Bosnia and Herzegovina'
 'Kenya' 'Latvia' 'Romania' 'Pakistan' 'Lithuania'
 'Iran, Islamic Republic of' 'Bahamas' 'Hungary' 'Austria' 'Puerto Rico'
 'American Samoa' 'Greece' 'Denmark' 'Belgium' 'Indonesia' 'Egypt'
 'United Arab Emirates' 'Malaysia' 'Honduras' 'Czechia' 'Algeria' 'Iraq'
 'China' 'New Zealand' 'Chile' 'Moldova, Republic of' 'Luxembourg' 'Malta'
 'Qatar' 'Gibraltar' 'Mauritius' 'Viet Nam']

In [2212]:
# Identification of countries that are not in salaries
missing_countries = world_info[~world_info['Country'].isin(countries_in_salaries)]

In [2213]:
# Display a list of countries that are not in salaries
print("  'world_info',    'salaries':")
print(missing_countries['Country'].unique())

  'world_info',    'salaries':
['Afghanistan' 'Albania' 'Angola' 'Antigua and Barbuda' 'Azerbaijan'
 'The Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belize'
 'Benin' 'Bhutan' 'Bolivia' 'Botswana' 'Brunei' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Ivory Coast' 'Cape Verde' 'Cambodia' 'Cameroon' 'Chad'
 'Comoros' 'Republic of the Congo' 'Costa Rica' 'Cuba' 'Cyprus'
 'Czech Republic' 'Democratic Republic of the Congo' 'Djibouti' 'Dominica'
 'Dominican Republic' 'El Salvador' 'Equatorial Guinea' 'Eritrea'
 'Eswatini' 'Ethiopia' 'Fiji' 'Gabon' 'The Gambia' 'Georgia' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Vatican City'
 'Iceland' 'Iran' 'Republic of Ireland' 'Jamaica' 'Jordan' 'Kazakhstan'
 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Madagascar' 'Malawi' 'Maldives' 'Mali'
 'Marshall Islands' 'Mauritania' 'Federated States of Micronesia'
 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Nicaragua' 'Niger' 'North Korea'
 'North Macedonia' 'Oman' 'Palau' 'Palestinian National Authority'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone'
 'Slovakia' 'Solomon Islands' 'Somalia' 'South Korea' 'South Sudan'
 'Sri Lanka' 'Sudan' 'Suriname' 'Syria' 'Tajikistan' 'Tanzania'
 'East Timor' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkmenistan' 'Tuvalu' 'Uganda' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela' 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']

In [2214]:
# Update world_info, excluding countries that are not in salaries
world_info = world_info[world_info['Country'].isin(countries_in_salaries)]

In [2215]:
missing_world = pd.concat([world_info.isnull().sum(), 100 * world_info.isnull().mean()], axis=1)
missing_world.columns=['count', '%']
missing_world = missing_world.sort_values(by='count', ascending=False)
missing_world

                                           count          %
Minimum wage                                  12  19.047619
Official language                              4   6.349206
Currency-Code                                  3   4.761905
Tax revenue (%)                                2   3.174603
Gross primary education enrollment (%)         1   1.587302
Life expectancy                                1   1.587302
Maternal mortality ratio                       1   1.587302
Gross tertiary education enrollment (%)        1   1.587302
CPI Change (%)                                 1   1.587302
CPI                                            1   1.587302
Population: Labor force participation (%)      1   1.587302
Capital/Major City                             1   1.587302
Total tax rate                                 1   1.587302
Armed Forces size                              1   1.587302
Unemployment rate                              1   1.587302
Largest city                                   1   1.587302
Population                                     0   0.000000
Physicians per thousand                        0   0.000000
Out of pocket health expenditure               0   0.000000
Urban_population                               0   0.000000
Latitude                                       0   0.000000
Country                                        0   0.000000
Infant mortality                               0   0.000000
Density\n(P/Km2)                               0   0.000000
GDP                                            0   0.000000
Gasoline Price                                 0   0.000000
Forested Area (%)                              0   0.000000
Fertility Rate                                 0   0.000000
Co2-Emissions                                  0   0.000000
Calling Code                                   0   0.000000
Birth Rate                                     0   0.000000
Land Area(Km2)                                 0   0.000000
Agricultural Land( %)                          0   0.000000
Abbreviation                                   0   0.000000
Longitude                                      0   0.000000

In [2216]:
# Find rows where the value in the 'Minimum wage' column is NaN
nan_wage_countries = world_info[world_info['Minimum wage'].isna()]

# Print countries where 'Minimum wage' is NaN
print("  NaN   'Minimum wage':")
print(nan_wage_countries['Country'])

  NaN   'Minimum wage':
9                   Austria
46                  Denmark
51                    Egypt
59                  Finland
83                    Italy
129                  Norway
141                   Qatar
156               Singapore
161            South Africa
168                  Sweden
169             Switzerland
184    United Arab Emirates
Name: Country, dtype: object

Denmark, Finland, Austria, Italy, Norway, Singapore etc do not have a statutory minimum wage. Pay and employment conditions are, as a rule, regulated by collective agreements or are negotiated individually between employers and employees. 

https://www.linkedin.com/pulse/did-you-know-countries-minimum-wage-/

https://wise.com/gb/blog/minimum-wage-guide-dubai

Egypt https://wageindicator.org/salary/minimum-wage/egypt

In [2219]:
# Find the index of the line where the country is 'Egypt'
# Set a new minimum wage value, converted to US dollars (rounded to two decimal places)
index_egypt = world_info[world_info['Country'] == 'Egypt'].index
world_info.loc[index_egypt, 'Minimum wage'] = 0.70

Qatar https://www.trtworld.com/middle-east/qatar-extends-minimum-wage-of-275-to-all-as-world-cup-looms-45177

In [2221]:
# Find the index of the line where the country is 'Qatar'
# Set a new minimum wage value, converted to US dollars (rounded to two decimal places)
index_qatar = world_info[world_info['Country'] == 'Qatar'].index
world_info.loc[index_qatar, 'Minimum wage'] = 1.30

SO, i chose to fill the info by mean values (or 0)????

In [2223]:
median_wage = world_info['Minimum wage'].median()
world_info['Minimum wage'] = world_info['Minimum wage'].fillna(median_wage)

In [2224]:
world_info.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
2,Algeria,18,DZ,17.40,2381741,317000,24.28,213.0,Algiers,150006,...,28.10,1.72,43053054,41.20,37.20,66.10,11.70,31510100,28.033886,1.659626
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40,3.33,77142,NaN,NaN,NaN,NaN,67873,42.506285,1.521801
6,Argentina,17,AR,54.30,2780400,105000,17.02,54.0,Buenos Aires,201348,...,17.60,3.96,44938712,61.30,10.10,106.30,9.79,41339571,-38.416097,-63.616672
7,Armenia,104,AM,58.90,29743,49000,13.99,374.0,Yerevan,5156,...,81.60,4.40,2957731,55.60,20.90,22.60,16.99,1869848,40.069099,45.038189
8,Australia,3,AU,48.20,7741220,58000,12.60,61.0,Canberra,375908,...,19.60,3.68,25766605,65.50,23.00,47.40,5.27,21844756,-25.274398,133.775136

need to clean all NAN values

In [2226]:
# Find rows where the value in the 'Minimum wage' column is NaN
nan_wage_countries = world_info[world_info['Official language'].isna()]

# Print countries where 'Minimum wage' is NaN
print("Countries with NaN in the 'Official language' column:")
print(nan_wage_countries['Country'])

Countries with NaN in the 'Official language' column:
8          Australia
85             Japan
110           Mexico
186    United States
Name: Country, dtype: object

Australia has no official language, but the national language of Australia is English.

In [2228]:
index_australia = world_info[world_info['Country'] == 'Australia'].index
world_info.loc[index_australia, 'Official language'] = 'English'

In [2229]:
index_japan = world_info[world_info['Country'] == 'Japan'].index
world_info.loc[index_japan, 'Official language'] = 'Japanese'

In [2230]:
index_mexico = world_info[world_info['Country'] == 'Mexico'].index
world_info.loc[index_mexico, 'Official language'] = 'Spanish'

In [2231]:
index_mexico = world_info[world_info['Country'] == 'United States'].index
world_info.loc[index_mexico, 'Official language'] = 'Spanish'

The United States does not have an official language. English is the most widely used language in the U.S

In [2233]:
index_usa = world_info[world_info['Country'] == 'Mexico'].index
world_info.loc[index_usa, 'Official language'] = 'Eglish'

In [2234]:
assert world_info['Official language'].notna().all(), " NaN   'Official language'"

In [2235]:
# Find rows where the value in the 'Minimum wage' column is NaN
nan_wage_countries = world_info[world_info['Currency-Code'].isna()]

print("Countries with NaN in the 'Currency-Code':")
print(nan_wage_countries['Country'])

Countries with NaN in the 'Currency-Code':
33     Central African Republic
85                        Japan
122                 Netherlands
Name: Country, dtype: object

In [2236]:
index_car = world_info[world_info['Country'] == 'Central African Republic'].index
world_info.loc[index_car, 'Currency-Code'] = 'CAF'

In [2237]:
index_japancc = world_info[world_info['Country'] == 'Japan'].index
world_info.loc[index_japancc, 'Currency-Code'] = 'JPY'

In [2238]:
index_netherlands = world_info[world_info['Country'] == 'Netherlands'].index
world_info.loc[index_netherlands, 'Currency-Code'] = 'EUR'

In [2239]:
assert world_info['Currency-Code'].notna().all(), " NaN   'Currency-Code"

In [2240]:
nan_wage_countries = world_info[world_info['Capital/Major City'].isna()]
print("Countries with NaN in the'Capital/Major City':")
print(nan_wage_countries['Country'])

Countries with NaN in the'Capital/Major City':
156    Singapore
Name: Country, dtype: object

In [2241]:
index_singapore = world_info[world_info['Country'] == 'Singapore'].index
world_info.loc[index_singapore, 'Capital/Major City'] = 'Singapore'

In [2242]:
index_singapore = world_info[world_info['Country'] == 'Singapore'].index
world_info.loc[index_singapore, 'Largest city'] = 'Singapore'

In [2243]:
assert world_info['Capital/Major City'].notna().all(), "There are NaN values in 'Capital/Major City'"

In [2244]:
# Remove lines where there is NaN in the 'Life expectancy' column ANDORRA
world_info = world_info.dropna(subset=['Life expectancy'])

In [2245]:
# Remove rows where there is NaN in the 'Gross primary education enrollment (%)' column Bosnia
world_info = world_info.dropna(subset=['Gross primary education enrollment (%)'])

In [2246]:
# Remove rows where there is NaN in the 'Tax revenue (%)' Bosnia
world_info = world_info.dropna(subset=['Tax revenue (%)'])

In [2247]:
missing_world = pd.concat([world_info.isnull().sum(), 100 * world_info.isnull().mean()], axis=1)
missing_world.columns=['count', '%']
missing_world = missing_world.sort_values(by='count', ascending=False)
missing_world

                                           count    %
Country                                        0  0.0
Physicians per thousand                        0  0.0
Largest city                                   0  0.0
Life expectancy                                0  0.0
Maternal mortality ratio                       0  0.0
Minimum wage                                   0  0.0
Official language                              0  0.0
Out of pocket health expenditure               0  0.0
Population                                     0  0.0
Gross tertiary education enrollment (%)        0  0.0
Population: Labor force participation (%)      0  0.0
Tax revenue (%)                                0  0.0
Total tax rate                                 0  0.0
Unemployment rate                              0  0.0
Urban_population                               0  0.0
Latitude                                       0  0.0
Infant mortality                               0  0.0
Gross primary education enrollment (%)         0  0.0
Density\n(P/Km2)                               0  0.0
Capital/Major City                             0  0.0
Abbreviation                                   0  0.0
Agricultural Land( %)                          0  0.0
Land Area(Km2)                                 0  0.0
Armed Forces size                              0  0.0
Birth Rate                                     0  0.0
Calling Code                                   0  0.0
Co2-Emissions                                  0  0.0
GDP                                            0  0.0
CPI                                            0  0.0
CPI Change (%)                                 0  0.0
Currency-Code                                  0  0.0
Fertility Rate                                 0  0.0
Forested Area (%)                              0  0.0
Gasoline Price                                 0  0.0
Longitude                                      0  0.0

In [2248]:
assert world_info.notna().all().all(), " NaN "

### Data Cleaning in Salaries

In [2250]:
duplicates = salaries.duplicated()
num_duplicates = duplicates.sum()
print("Number of duplicates in DataFrame:", num_duplicates)

Number of duplicates in DataFrame: 22927

In [2251]:
salaries.shape

(28668, 11)

In [2252]:
salaries = salaries.drop_duplicates()

In [2253]:
salaries.shape

(5741, 11)

In [2254]:
salaries.head()

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023

In [2255]:
company_in_salaries = salaries['Company Location'].unique()
print(company_in_salaries)

['United States' 'United Kingdom' 'Germany' 'Sweden' 'India'
 'Korea, Republic of' 'Spain' 'Estonia' 'France' 'Philippines' 'Canada'
 'Australia' 'Turkey' 'Portugal' 'Brazil' 'Switzerland' 'Andorra'
 'Netherlands' 'Ecuador' 'Mexico' 'Israel' 'Nigeria' 'Saudi Arabia'
 'Colombia' 'Poland' 'Norway' 'Ghana' 'Argentina' 'Japan'
 'Russian Federation' 'South Africa' 'Italy' 'Hong Kong'
 'Central African Republic' 'Finland' 'Ukraine' 'Ireland' 'Singapore'
 'Slovenia' 'Thailand' 'Croatia' 'Armenia' 'Bosnia and Herzegovina'
 'Kenya' 'Latvia' 'Romania' 'Pakistan' 'Lithuania'
 'Iran, Islamic Republic of' 'Bahamas' 'Hungary' 'Austria' 'Puerto Rico'
 'American Samoa' 'Greece' 'Denmark' 'Belgium' 'Indonesia' 'Egypt'
 'United Arab Emirates' 'Malaysia' 'Honduras' 'Czechia' 'Algeria' 'Iraq'
 'China' 'New Zealand' 'Chile' 'Moldova, Republic of' 'Luxembourg' 'Malta'
 'Qatar' 'Gibraltar' 'Mauritius' 'Viet Nam']

In [2256]:
job_in_salaries = salaries['Job Title'].unique()
print(job_in_salaries)

['Data Engineer' 'Data Scientist' 'Analytics Engineer'
 'Business Intelligence Developer' 'Machine Learning Engineer'
 'Data Analyst' 'Decision Scientist' 'Machine Learning Software Engineer'
 'BI Developer' 'Machine Learning Scientist' 'BI Analyst' 'Data Manager'
 'Business Intelligence Engineer' 'ML Engineer' 'Data Science Manager'
 'AI Programmer' 'Applied Scientist' 'Data Analytics Manager'
 'Research Engineer' 'Research Scientist' 'Data Lead' 'Data Strategist'
 'Data Quality Analyst' 'Data Architect' 'AI Architect'
 'Computer Vision Engineer' 'Business Intelligence Analyst'
 'Principal Data Scientist' 'Staff Machine Learning Engineer'
 'Staff Data Scientist' 'Consultant Data Engineer'
 'Machine Learning Specialist' 'Head of Data' 'Data Quality Engineer'
 'Research Analyst' 'Principal Machine Learning Engineer'
 'Deep Learning Engineer' 'Data Visualization Specialist' 'MLOps Engineer'
 'Business Intelligence Data Analyst' 'Data Science Engineer'
 'Data Operations Manager' 'Data Specialist' 'Head of Data Science'
 'Lead Machine Learning Engineer' 'AI Scientist'
 'Managing Director Data Science' 'Data Modeller' 'Finance Data Analyst'
 'Software Data Engineer' 'Machine Learning Research Engineer'
 'Compliance Data Analyst' 'Data Operations Specialist'
 'Business Data Analyst' 'Data Engineer 2' 'Data Science Consultant'
 'Cloud Data Engineer' 'Analytics Engineering Manager'
 'Machine Learning Infrastructure Engineer' 'Director of Data Science'
 'Insight Analyst' 'ETL Developer' 'NLP Engineer'
 'Data Operations Engineer' 'Staff Data Analyst'
 'Applied Machine Learning Scientist' 'AWS Data Architect'
 'Product Data Analyst' 'BI Data Analyst' 'Machine Learning Developer'
 'Data Integration Specialist' 'Data Visualization Analyst'
 'Autonomous Vehicle Technician' 'Data Modeler' 'Sales Data Analyst'
 'Data Operations Analyst' 'Data Science Lead'
 'Applied Machine Learning Engineer' 'Applied Data Scientist'
 'ETL Engineer' 'Data DevOps Engineer' 'AI Developer'
 'Machine Learning Researcher' 'Big Data Engineer' 'Lead Data Analyst'
 'BI Data Engineer' 'Lead Data Scientist' 'Cloud Database Engineer'
 'Financial Data Analyst' 'Data Infrastructure Engineer'
 'Deep Learning Researcher' 'Data Analytics Specialist'
 'Big Data Architect' 'Computer Vision Software Engineer'
 'Azure Data Engineer' 'Marketing Data Engineer' 'Data Analytics Lead'
 'Manager Data Management' 'Data Analytics Consultant'
 'Data Management Specialist' 'Data Science Tech Lead'
 'Data Scientist Lead' 'Marketing Data Analyst' 'Principal Data Architect'
 'Machine Learning Manager' 'Data Analytics Engineer'
 'Cloud Data Architect' 'Lead Data Engineer' 'Head of Machine Learning'
 'Principal Data Analyst' 'Principal Data Engineer' 'AI Engineer'
 'Data Visualization Engineer' 'AI Research Engineer' 'Power BI Developer'
 'Data Science Practitioner' 'Data Developer'
 'Machine Learning Operations Engineer' 'Data Strategy Manager'
 'Bear Robotics' 'Data Product Manager' 'Data Product Owner'
 'Data Science Director' 'Data Management Analyst'
 'Machine Learning Modeler' 'Data Integration Engineer'
 'Business Intelligence Manager' 'Business Intelligence Specialist'
 'Data Science' 'Prompt Engineer' 'Data Quality Manager'
 'AI Product Manager' 'Data Analyst Lead' 'Marketing Data Scientist']

In [2257]:
missing_salary = pd.concat([salaries.isnull().sum(), 100 * salaries.isnull().mean()], axis=1)
missing_salary.columns=['count', '%']
missing_salary = missing_salary.sort_values(by='count', ascending=False)

In [2258]:
missing_salary

                    count    %
Job Title               0  0.0
Employment Type         0  0.0
Experience Level        0  0.0
Expertise Level         0  0.0
Salary                  0  0.0
Salary Currency         0  0.0
Company Location        0  0.0
Salary in USD           0  0.0
Employee Residence      0  0.0
Company Size            0  0.0
Year                    0  0.0

### Data type correction

In [2260]:
salaries.dtypes

Job Title             object
Employment Type       object
Experience Level      object
Expertise Level       object
Salary                 int64
Salary Currency       object
Company Location      object
Salary in USD          int64
Employee Residence    object
Company Size          object
Year                   int64
dtype: object

In [2261]:
salaries.shape

(5741, 11)

In [2262]:
world_info.dtypes

Country                                       object
Density\n(P/Km2)                              object
Abbreviation                                  object
Agricultural Land( %)                         object
Land Area(Km2)                                object
Armed Forces size                             object
Birth Rate                                   float64
Calling Code                                 float64
Capital/Major City                            object
Co2-Emissions                                 object
CPI                                           object
CPI Change (%)                                object
Currency-Code                                 object
Fertility Rate                               float64
Forested Area (%)                             object
Gasoline Price                                object
GDP                                           object
Gross primary education enrollment (%)        object
Gross tertiary education enrollment (%)       object
Infant mortality                             float64
Largest city                                  object
Life expectancy                              float64
Maternal mortality ratio                     float64
Minimum wage                                  object
Official language                             object
Out of pocket health expenditure              object
Physicians per thousand                      float64
Population                                    object
Population: Labor force participation (%)     object
Tax revenue (%)                               object
Total tax rate                                object
Unemployment rate                             object
Urban_population                              object
Latitude                                     float64
Longitude                                    float64
dtype: object

In [2263]:
world_info.shape

(60, 35)

In [2264]:
world_info['Minimum wage'] = world_info['Minimum wage'].astype('float')
world_info['Density\n(P/Km2)'] = world_info['Density\n(P/Km2)'].astype('float')
world_info['Land Area(Km2)'] = world_info['Land Area(Km2)'].astype('int')
world_info['Armed Forces size'] = world_info['Armed Forces size'].astype('int')
world_info['Co2-Emissions'] = world_info['Co2-Emissions'].astype('int')
world_info['CPI'] = world_info['CPI'].astype('float')
world_info['CPI Change (%)'] = world_info['CPI Change (%)'].astype('float')
world_info['Gasoline Price'] = world_info['Gasoline Price'].astype('float')
world_info['Forested Area (%)'] = world_info['Forested Area (%)'].astype('float')
world_info['GDP'] = world_info['GDP'].astype('int')
world_info['Gross primary education enrollment (%)'] = world_info['Gross primary education enrollment (%)'].astype('float')
world_info['Gross tertiary education enrollment (%)'] = world_info['Gross tertiary education enrollment (%)'].astype('float')
world_info['Out of pocket health expenditure'] = world_info['Out of pocket health expenditure'].astype('float')
world_info['Population'] = world_info['Population'].astype('int')
world_info['Population: Labor force participation (%)'] = world_info['Population: Labor force participation (%)'].astype('float')
world_info['Tax revenue (%)'] = world_info['Tax revenue (%)'].astype('float')
world_info['Total tax rate'] = world_info['Total tax rate'].astype('float')
world_info['Unemployment rate'] = world_info['Unemployment rate'].astype('float')
world_info['Urban_population'] = world_info['Urban_population'].astype('int')

In [2265]:
world_info.dtypes

Country                                       object
Density\n(P/Km2)                             float64
Abbreviation                                  object
Agricultural Land( %)                         object
Land Area(Km2)                                 int64
Armed Forces size                              int64
Birth Rate                                   float64
Calling Code                                 float64
Capital/Major City                            object
Co2-Emissions                                  int64
CPI                                          float64
CPI Change (%)                               float64
Currency-Code                                 object
Fertility Rate                               float64
Forested Area (%)                            float64
Gasoline Price                               float64
GDP                                            int64
Gross primary education enrollment (%)       float64
Gross tertiary education enrollment (%)      float64
Infant mortality                             float64
Largest city                                  object
Life expectancy                              float64
Maternal mortality ratio                     float64
Minimum wage                                 float64
Official language                             object
Out of pocket health expenditure             float64
Physicians per thousand                      float64
Population                                     int64
Population: Labor force participation (%)    float64
Tax revenue (%)                              float64
Total tax rate                               float64
Unemployment rate                            float64
Urban_population                               int64
Latitude                                     float64
Longitude                                    float64
dtype: object

### Merge 2 Datasets

In [2267]:
# Merging DataFrame `salaries` and `world_info` by columns `Company Location` and `Country`
df = salaries.merge(world_info, left_on='Company Location', right_on='Country', how='left')

In [2268]:
df.shape

(5741, 46)

In [2269]:
missing_world = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing_world.columns=['count', '%']
missing_world = missing_world.sort_values(by='count', ascending=False)
missing_world

                                           count         %
Currency-Code                                 39  0.679324
Fertility Rate                                39  0.679324
Gasoline Price                                39  0.679324
GDP                                           39  0.679324
Gross primary education enrollment (%)        39  0.679324
Gross tertiary education enrollment (%)       39  0.679324
Infant mortality                              39  0.679324
Largest city                                  39  0.679324
Life expectancy                               39  0.679324
Maternal mortality ratio                      39  0.679324
Minimum wage                                  39  0.679324
Official language                             39  0.679324
Out of pocket health expenditure              39  0.679324
Physicians per thousand                       39  0.679324
Population                                    39  0.679324
Population: Labor force participation (%)     39  0.679324
Tax revenue (%)                               39  0.679324
Total tax rate                                39  0.679324
Unemployment rate                             39  0.679324
Urban_population                              39  0.679324
Latitude                                      39  0.679324
Forested Area (%)                             39  0.679324
Longitude                                     39  0.679324
Density\n(P/Km2)                              39  0.679324
Armed Forces size                             39  0.679324
Country                                       39  0.679324
CPI Change (%)                                39  0.679324
Abbreviation                                  39  0.679324
Agricultural Land( %)                         39  0.679324
Land Area(Km2)                                39  0.679324
Birth Rate                                    39  0.679324
Calling Code                                  39  0.679324
Capital/Major City                            39  0.679324
Co2-Emissions                                 39  0.679324
CPI                                           39  0.679324
Company Location                               0  0.000000
Experience Level                               0  0.000000
Expertise Level                                0  0.000000
Salary                                         0  0.000000
Salary Currency                                0  0.000000
Employment Type                                0  0.000000
Salary in USD                                  0  0.000000
Employee Residence                             0  0.000000
Company Size                                   0  0.000000
Year                                           0  0.000000
Job Title                                      0  0.000000

In [2270]:
df = df.dropna(subset=['Currency-Code'])

In [2271]:
missing_world = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing_world.columns=['count', '%']
missing_world = missing_world.sort_values(by='count', ascending=False)
missing_world

                                           count    %
Job Title                                      0  0.0
Minimum wage                                   0  0.0
Forested Area (%)                              0  0.0
Gasoline Price                                 0  0.0
GDP                                            0  0.0
Gross primary education enrollment (%)         0  0.0
Gross tertiary education enrollment (%)        0  0.0
Infant mortality                               0  0.0
Largest city                                   0  0.0
Life expectancy                                0  0.0
Maternal mortality ratio                       0  0.0
Official language                              0  0.0
Employment Type                                0  0.0
Out of pocket health expenditure               0  0.0
Physicians per thousand                        0  0.0
Population                                     0  0.0
Population: Labor force participation (%)      0  0.0
Tax revenue (%)                                0  0.0
Total tax rate                                 0  0.0
Unemployment rate                              0  0.0
Urban_population                               0  0.0
Latitude                                       0  0.0
Fertility Rate                                 0  0.0
Currency-Code                                  0  0.0
CPI Change (%)                                 0  0.0
CPI                                            0  0.0
Experience Level                               0  0.0
Expertise Level                                0  0.0
Salary                                         0  0.0
Salary Currency                                0  0.0
Company Location                               0  0.0
Salary in USD                                  0  0.0
Employee Residence                             0  0.0
Company Size                                   0  0.0
Year                                           0  0.0
Country                                        0  0.0
Density\n(P/Km2)                               0  0.0
Abbreviation                                   0  0.0
Agricultural Land( %)                          0  0.0
Land Area(Km2)                                 0  0.0
Armed Forces size                              0  0.0
Birth Rate                                     0  0.0
Calling Code                                   0  0.0
Capital/Major City                             0  0.0
Co2-Emissions                                  0  0.0
Longitude                                      0  0.0

In [2272]:
df.shape

(5702, 46)

In [2273]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5702 entries, 0 to 5740
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Job Title                                  5702 non-null   object
 1   Employment Type                            5702 non-null   object
 2   Experience Level                           5702 non-null   object
 3   Expertise Level                            5702 non-null   object
 4   Salary                                     5702 non-null   int64
 5   Salary Currency                            5702 non-null   object
 6   Company Location                           5702 non-null   object
 7   Salary in USD                              5702 non-null   int64
 8   Employee Residence                         5702 non-null   object
 9   Company Size                               5702 non-null   object
 10  Year                                       5702 non-null   int64
 11  Country                                    5702 non-null   object
 12  Density
(P/Km2)                            5702 non-null   float64
 13  Abbreviation                               5702 non-null   object
 14  Agricultural Land( %)                      5702 non-null   object
 15  Land Area(Km2)                             5702 non-null   float64
 16  Armed Forces size                          5702 non-null   float64
 17  Birth Rate                                 5702 non-null   float64
 18  Calling Code                               5702 non-null   float64
 19  Capital/Major City                         5702 non-null   object
 20  Co2-Emissions                              5702 non-null   float64
 21  CPI                                        5702 non-null   float64
 22  CPI Change (%)                             5702 non-null   float64
 23  Currency-Code                              5702 non-null   object
 24  Fertility Rate                             5702 non-null   float64
 25  Forested Area (%)                          5702 non-null   float64
 26  Gasoline Price                             5702 non-null   float64
 27  GDP                                        5702 non-null   float64
 28  Gross primary education enrollment (%)     5702 non-null   float64
 29  Gross tertiary education enrollment (%)    5702 non-null   float64
 30  Infant mortality                           5702 non-null   float64
 31  Largest city                               5702 non-null   object
 32  Life expectancy                            5702 non-null   float64
 33  Maternal mortality ratio                   5702 non-null   float64
 34  Minimum wage                               5702 non-null   float64
 35  Official language                          5702 non-null   object
 36  Out of pocket health expenditure           5702 non-null   float64
 37  Physicians per thousand                    5702 non-null   float64
 38  Population                                 5702 non-null   float64
 39  Population: Labor force participation (%)  5702 non-null   float64
 40  Tax revenue (%)                            5702 non-null   float64
 41  Total tax rate                             5702 non-null   float64
 42  Unemployment rate                          5702 non-null   float64
 43  Urban_population                           5702 non-null   float64
 44  Latitude                                   5702 non-null   float64
 45  Longitude                                  5702 non-null   float64
dtypes: float64(28), int64(3), object(15)
memory usage: 2.0+ MB

In [2274]:
df.head()

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,...,11.1,2.61,328239523.0,62.0,9.6,36.6,14.7,270663028.0,37.09024,-95.712891
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,...,11.1,2.61,328239523.0,62.0,9.6,36.6,14.7,270663028.0,37.09024,-95.712891
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,...,11.1,2.61,328239523.0,62.0,9.6,36.6,14.7,270663028.0,37.09024,-95.712891
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,...,11.1,2.61,328239523.0,62.0,9.6,36.6,14.7,270663028.0,37.09024,-95.712891
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,...,11.1,2.61,328239523.0,62.0,9.6,36.6,14.7,270663028.0,37.09024,-95.712891

Mean Salaries

In [2275]:
salaries_means = df.groupby(['Country','Job Title'])['Salary in USD'].mean()
salaries_means.head(40)

Country    Job Title
Algeria    Data Scientist                         100000.000000
Argentina  Data Analyst                            50000.000000
           Data Engineer                           65000.000000
Armenia    Machine Learning Engineer               50000.000000
Australia  AI Programmer                           55000.000000
           AI Scientist                            81838.000000
           BI Data Analyst                         49209.000000
           Computer Vision Software Engineer      150000.000000
           Data Analyst                           101632.666667
           Data Engineer                           75050.000000
           Data Science Manager                   133766.000000
           Data Scientist                         121838.666667
           ML Engineer                            224993.000000
           Machine Learning Developer              40000.000000
           Machine Learning Engineer              192954.666667
           Software Data Engineer                  50000.000000
Austria    Applied Data Scientist                  50000.000000
           Data Engineer                           74130.000000
           Data Scientist                          76352.000000
           Data Scientist Lead                     89306.000000
           Research Scientist                      61989.000000
Belgium    Data Scientist                          68030.500000
           Machine Learning Engineer               85699.000000
Brazil     Analytics Engineer                      63000.000000
           BI Analyst                              63000.000000
           Computer Vision Engineer                21453.500000
           Data Engineer                           63000.000000
           Data Scientist                          52636.666667
           Head of Data                           112500.000000
           MLOps Engineer                          27568.000000
           Principal Machine Learning Engineer     38290.000000
Canada     AI Developer                           275000.000000
           AI Engineer                             50000.000000
           AI Programmer                           74087.000000
           AI Scientist                           200000.000000
           Analytics Engineer                     138800.000000
           Applied Data Scientist                  54238.000000
           Big Data Architect                      99703.000000
           Big Data Engineer                      161311.000000
           Business Data Analyst                   69133.000000
Name: Salary in USD, dtype: float64

## Save new Data

In [2277]:
df.to_csv('/Users/juliabolgova/Documents/GitHub/f/Capstone_IuliiaBolgova/CapstoneProject/data/interim/salaries.csv', index=True)